/*-- scss:defaults --*/


// Fonts

$web-font-path: "https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap" !default;
$web-font-path-2: "https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap";

@if $web-font-path-2 {
    @import url($web-font-path-2);
}

@if $web-font-path {
    @import url($web-font-path);
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

$font-family-sans-serif:     "Commissioner";
$headings-font-family:       "Libre Baskerville";
$navbar-font-family:         "Libre Baskerville";

$headings-font-weight:       400;



// Links

$link-color:                  $secondary;
$link-decoration:             underline;
$link-hover-color:            darken(#FFF1E5, 40%);
$link-hover-decoration:       none;

// Tables

$table-border-color:          #555555;
$table-group-separator-color: lighten($primary, 40%);
$table-caption-color:         $primary;


// Inline code
$code-color:                  $accent-light;
$code-bg:                     $primary-dark;

// Table of contents
$toc-color:                   $link-color;
$toc-active-border:           $toc-color;
$toc-inactive-border:         lighten($toc-color, 50%);

// Navbar icons
$navbar-fg:                   $secondary;

// Footer text
$footer-fg:                   #222222;

// table variable overrides
$table-group-separator-color: $accent-dark;
$table-group-separator-color-lighter: $accent-dark;

// Miscellaneous (workarounds)
$gray-200:                    lighten($primary, 60%);

/*-- scss:rules --*/

details > summary {
  color: $body-secondary;
}


// inline code
p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
  border: 1px solid $secondary;
}

pre code {
  color: $primary-dark;
  font-family: 'JetBrains Mono';
}

code{
  color: $accent-light;
  font-family: 'JetBrains Mono';
}


// Blockquotes
.blockquote {
  color: lighten($primary, 15%);
  font-style: oblique;
}

// Social icons

// footer
.nav-footer-center i {
  color: $secondary !important;
  
  &:hover {
    color: $secondary-light !important;
  }
}

// home + about pages
.about-links .about-link i {
  color: $secondary !important;

  &:hover {
    color: $secondary-light !important;
  }
}

// Contact

// social links
.link-dark.me-1 i {
  color: $secondary-light !important;
}

// Buttons

// post links
.btn-secondary {
  color: $secondary;
  background: transparent;
  border-radius: 5px;
}

// contact form
.btn-primary:hover {
  background-color: $secondary;
  border-color: $secondary;
}

// pagination
.page-link {
  color: $primary;
  &:hover {
    color: white;
    background-color: $primary;
    border-color: $primary;
  }
}

// Categories

// posts
.quarto-category {
  background-color: $primary-dark;
  color: $accent-light;
  border-color: $primary;
  &:hover {
    background-color: white;
    color: darken(#A74219, 40%);
  }
}

// listings
.listing-category {
  color: $secondary !important;
  border-color: $secondary !important;
  &:hover {
  background-color: $secondary;
  color: $accent-light !important;
  }
}

// Navbar
.navbar {
  background: transparent;
  background-color: transparent;
  color: $secondary;
}

// links
.navbar-nav .nav-link {
    color: $secondary !important;
    text-transform: uppercase;
    letter-spacing: .1em; 
    border-bottom: 0px hidden $secondary;    
    margin: 0px 10px 0px 10px; 
    padding: 2px 2px 4px 2px !important;

    &:hover {
      border-bottom: 1px solid $secondary !important;
      padding: 2px 2px 0px 2px !important;
    }
}

// Footer

// links on left side
.nav-footer-left a {
    color: $secondary;
    // link on hover
    &:hover {
      color: lightblue;
    }
}

// links on right side
.nav-footer-right a {
  color: $secondary;
    &:hover {
      color: darken(#FFF1E5, 40%);
      text-decoration: underline;
    }
}

// Listing cards
.card {
  background: transparent;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.card-img {
    border-radius: 4px 4px 0px 0px;
}

// Title block


// make nav bar be centered in mobile


// links in description

.description a {
  text-decoration: underline !important;
  &:hover {
    text-decoration: none !important;
  }
}

// Throughout the site

// title
.title {
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.1em;
}

// Mobile

@media screen and (max-width: 991.98px) {
  // social media links
  .fixed-top {
  position: absolute;
}

.aa-DetachedOverlay {
  position: absolute;
}
  .about-entity .about-links {
    flex-direction: row !important;
    justify-content: center !important;
  }

  // navigation footer
  .nav-footer {
      flex-direction: row;
    }

  .nav-footer-center {
    order: 1 !important;
    flex-basis: 100%;
    margin: 0 0 -1.2em 0;
  }

  .nav-footer-right {
    order: 2 !important;
    flex-basis: 100%;
    text-align: center;
  }

  .nav-footer-left {
    order: 3 !important;
    flex-basis: 100%;
    text-align: center;
  }

  .navbar .quarto-navbar-tools {
    text-align: left;
  }
}